<!-- start custom footer snippets -->
<!--<a href="/sitemap/">Sitemap</a>-->
<!--<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=UkSYNydg5etXwSs88EkXKVrPVxBqIjwvFChXgAfYqp0&cl=ffffff&w=a"></script>-->
<a href="https://clustrmaps.com/site/1azfp"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=UkSYNydg5etXwSs88EkXKVrPVxBqIjwvFChXgAfYqp0&cl=ffffff" style="width: 250px;"/></a>
<!--<script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=UkSYNydg5etXwSs88EkXKVrPVxBqIjwvFChXgAfYqp0"></script>-->
<!-- end custom footer snippets -->
